node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*

.vercel
.env*

# Sentry Config File
.env.sentry-build-plugin
