@import 'tailwindcss';

@plugin 'daisyui' {
  themes: dark --default;
  exclude: properties, rootscrolllock, rootscrollgutter;
}

@import 'react-toastify/dist/ReactToastify.css';
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/counter.css';
@import 'flag-icons/css/flag-icons.min.css';

.rounded-default {
  border-radius: var(--radius-field);
}

.btn {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  font-weight: var(--font-weight-bold);
}
